<!DOCTYPE html>
<html>
<head>
	<title>Document</title>
</head>
<body>
	<form action="proses" method="get" enctype="multipart/form-data">
		<input type="text" name="nama" placeholder="Masukkan Nama Anda">
		<input type="text" name="hobi" placeholder="Masukkan Hobi Anda">
		<input type="file" name="gambar">
		<button type="submit">Kirim</button>
	</form>
</body>
</html>